body{
	background: url('../img/bg.jpg') no-repeat #000;
	background-size: cover;
}

canvas{
	width: 90%;
	margin: 0 auto;
	display: block;
}

#logo{
	display: block;
	margin: 0 auto;
	width: 50%;
}

.footer-container{
	text-align: center;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #E0BEFE;
	font-size: 0.9rem;
}

@media only screen and (min-width: 700px) {

	

} // end of media query


@media only screen and (min-width: 1200px) {



} // end of media query


@media only screen and (min-width: 1600px) {

	canvas{
		width: 50%
	}

} // end of media query

.party{
	display: block;
	width: 100px;
	height: 50px;
	border-radius: 2px;
}

.vihr{
	background-color: #61bf1a;
}
    

.vas{
	background-color: #d2232a;
}


.rkp{
	background-color: #efef13;
}
    

.kride{
	background-color: #676767;
}
    

.sdp{
	background-color: #ff1d13;
}
    

.ps{
	background-color: #005baa;
}
    

.kok{
	background-color: #003a54;
}
    

.kesk{
	background-color: #0d684b;
}